<!DOCTYPE html>
<html lang="en">
  {% include 'components/head.html' %}
  <body>
    {% include 'components/navbar.html' %}
      <div class="max-w-screen-xl mx-auto px-5">
        {% include 'components/team.html' %}
        {% include 'components/services.html' %}
        {% include 'components/technologies.html' %}
        {% include 'components/cta.html' %}
      </div>
    {% include 'components/endofbodyscripts.html' %}
  </body>
  {% include 'components/footer.html' %}
</html>
