<!DOCTYPE html>
<html lang="en">
  {% include 'components/head.html' %}
  <body>
    {% include 'components/floating-banner.html' %}
    {% include 'components/navbar.html' %}
      <div class="max-w-screen-xl mx-auto px-5 mb-8">
        <h1 class="mt-20 text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
          Maximize your online success with our website development services.
        </h1>
        <p class="mt-4 text-lg text-slate-600 max-w-xl">
          We design, build &amp; taylor digital experiences your audience will love.
          <wbr> Unlock the full potential of your online presence with our expert website development services.
        </p>
        {% include 'components/contact-form.html' %}
        {% include 'components/technologies.html' %}
        {% include 'components/faqs.html' %}
      </div>
    {% include 'components/endofbodyscripts.html' %}
  </body>
  {% include 'components/footer.html' %}
</html>
