<h2 class="text-center mt-8">FAQS</h2>

<div class="accordion mt-8" id="accordionExample">
    <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="headingOne">
            <button class="
              accordion-button
              collapsed
              relative
              flex
              items-center
              w-full
              py-4
              px-5
              text-base text-gray-800 text-left
              bg-white
              border-0
              rounded-none
              transition
              focus:outline-none
            " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
              aria-controls="collapseOne">
              What kind of services do you offer for website design and development?
            </button>
          </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body py-4 px-5">
            Our website design and development service includes creating the layout, structure, and overall appearance of a website, as well as developing the necessary code and functionality to make it work properly.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-white border border-gray-200">
      <h2 class="accordion-header mb-0" id="headingTwo">
        <button class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-base text-gray-800 text-left
          bg-white
          border-0
          rounded-none
          transition
          focus:outline-none
        " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
          aria-controls="collapseTwo">
          How can your search engine optimization (SEO) services help my website rank higher in search engine results?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body py-4 px-5">
            Our SEO services involve optimizing a website to rank higher in search engine results pages (SERPs) in order to increase organic traffic and visibility. This can include keyword research, meta tags, and other on-page optimization techniques.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-white border border-gray-200">
      <h2 class="accordion-header mb-0" id="headingThree">
        <button class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-base text-gray-800 text-left
          bg-white
          border-0
          rounded-none
          transition
          focus:outline-none
        " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
          aria-controls="collapseThree">
          What features are included in your e-commerce solutions service?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body py-4 px-5">
            Our e-commerce solutions service includes the development and implementation of an online store, including features such as shopping cart functionality, payment processing, and inventory management.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="headingFour">
          <button class="
            accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-base text-gray-800 text-left
            bg-white
            border-0
            rounded-none
            transition
            focus:outline-none
          " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
            aria-controls="collapseFour">
            What does your website maintenance and updates service include?
        </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body py-4 px-5">
            Our website maintenance and updates service includes regular updates to the website's content and design, as well as ensuring that it is running smoothly and without errors. It also includes security updates and backups.
        </div>
        </div>
      </div>
      <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="headingFive">
          <button class="
            accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-base text-gray-800 text-left
            bg-white
            border-0
            rounded-none
            transition
            focus:outline-none
          " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
            aria-controls="collapseFive">
            Can you provide detailed reports on my website's performance and identify areas for improvement with website analytics and reporting service?
        </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#accordionExample">
          <div class="accordion-body py-4 px-5">
            Yes, our website analytics and reporting service involves tracking and analyzing website traffic and user behavior, as well as providing detailed reports on website performance and identifying areas for improvement.
        </div>
        </div>
      </div>
      <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="headingSix">
          <button class="
            accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-base text-gray-800 text-left
            bg-white
            border-0
            rounded-none
            transition
            focus:outline-none
          " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
            aria-controls="collapseSix">
            How can your technology consulting services help me stay ahead of the competition?
        </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
          data-bs-parent="#accordionExample">
          <div class="accordion-body py-4 px-5">
            Our technology consulting services offer cutting-edge solutions and advice to help you stay ahead of the competition by staying up-to-date with the latest technologies and trends in website development, design, and online marketing.
        </div>
        </div>
      </div>
      <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="headingSeven">
          <button class="
            accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-base text-gray-800 text-left
            bg-white
            border-0
            rounded-none
            transition
            focus:outline-none
          " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false"
            aria-controls="collapseSeven">
            Can you handle all aspects of my website development, including design, functionality, and optimization?
        </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
          data-bs-parent="#accordionExample">
          <div class="accordion-body py-4 px-5">
            Yes, we offer comprehensive website development services that cover all aspects of website creation, including design, functionality, and optimization.
        </div>
        </div>
      </div>
      <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="headingEight">
          <button class="
            accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-base text-gray-800 text-left
            bg-white
            border-0
            rounded-none
            transition
            focus:outline-none
          " type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false"
            aria-controls="collapseEight">
            Can you help me set up an online store for my business?
        </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
          data-bs-parent="#accordionExample">
          <div class="accordion-body py-4 px-5">
            Yes, our e-commerce solutions service includes the development and implementation of an online store, including features such as shopping cart functionality, payment processing, and inventory management.
        </div>
        </div>
      </div>
      <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="headingNine">
          <button class="
            accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-base text-gray-800 text-left
            bg-white
            border-0
            rounded-none
            transition
            focus:outline-none
          " type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false"
            aria-controls="collapseNine">
            How often will my website be updated and maintained?
        </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
          data-bs-parent="#accordionExample">
          <div class="accordion-body py-4 px-5">
            Our website maintenance and updates service includes regular updates to the website's content and design, as well as ensuring that it is running smoothly and without errors. The frequency of updates and maintenance will be based on your specific needs and requirements.
        </div>
        </div>
      </div>
      <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="headingTen">
          <button class="
            accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-base text-gray-800 text-left
            bg-white
            border-0
            rounded-none
            transition
            focus:outline-none
          " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false"
            aria-controls="collapseTen">
            Will you provide me with detailed reports on my website's performance and user behavior?
        </button>
        </h2>
        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingNine"
          data-bs-parent="#accordionExample">
          <div class="accordion-body py-4 px-5">
            Yes, our website analytics and reporting service involves tracking and analyzing website traffic and user behavior, as well as providing detailed reports on website performance and identifying areas for improvement. This data can help you make informed decisions about your website and online marketing strategies.
        </div>
        </div>
      </div>
  </div>